<main role="main" class="mt-4 p-8 rounded-lg shadow-lg bg-white text-center">
<p class="font-black text-red-600">Sorry! This shorty doesn't exist. 😬</p>
<p>Would you like to <a href="/" class="text-purple-800 text-xl font-black">make a new one</a>?</p>
